<%- model_class = User -%>
<div class="page-header">
  <h1><%='Developers' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:user_type) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
    
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.project_id %></td>
        <td><%= link_to user.name, users_assign_to_path(user) %></td>
        <td><%= user.user_type %></td>
        <td><%= user.email %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

